.navbar{
  background-color: #0069d9;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.navbar li{
  list-style: none;
}

.navbar a:hover{
  text-decoration: none;
  color: #fff;
}

.brand{
  color: aliceblue;
}

.admin{
  color: aliceblue;
  justify-self: center;
}

.btn-primary{
  background-color: #0069d9;
  border-color: #0069d9;
}

.btn-primary:hover {
  color: #fff;
  background-color:#0069d9;
  border-color: #0069d9;
}

.dropdown a{
  color:black;
}

.dropdown a:hover{
  color: black;
  background-color: rgb(233, 232, 232);
}

.jumbotron{
  height: 350px;
  text-align: center;
}

.DisplayItems{
  margin-left: 17%;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 5%;
}

.DisplayItems li{
  list-style: none;
}

.itemimg{
  align-self: center;
  width: 60%;
}

.backend{
  display: grid;
  justify-items: center;
  width:100%;
  grid-row-gap: 15px;
}

.heading-1{
  font-weight: bold;
}

.heading-2{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.title{
  background-color: rgb(187, 187, 187);
  display: grid;
  grid-template-columns: repeat(7,1fr);
  justify-items: center;
  padding-top: 1%;
  border-radius: 5px;
  font-weight: 600;
}
