.navbar{
  background-color: #0069d9;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.navbar li{
  list-style: none;
}

.navbar a:hover{
  text-decoration: none;
  color: #fff;
}

.brand{
  color: aliceblue;
}

.admin{
  color: aliceblue;
  justify-self: center;
}

.btn-primary{
  background-color: #0069d9;
  border-color: #0069d9;
}

.btn-primary:hover {
  color: #fff;
  background-color:#0069d9;
  border-color: #0069d9;
}

.dropdown a{
  color:black;
}

.dropdown a:hover{
  color: black;
  background-color: rgb(233, 232, 232);
}

.jumbotron{
  height: 350px;
  text-align: center;
}

.DisplayItems{
  margin-left: 17%;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 5%;
}

.DisplayItems li{
  list-style: none;
}

.itemimg{
  align-self: center;
  width: 60%;
}

.backend{
  display: grid;
  margin: 0 2%;
}

.title{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title h4{
  justify-self: start;
}

.title a{
  justify-self: end;
}

table, th, td {
  border: 1px solid rgb(206, 206, 206);
  text-align: center;
  padding: 0.5%;
}

.itemstable{
  margin-top: 1%;
}

form{
  margin-left: 15%;
}

.additem h3{
  text-align: center;
}

.additemform input{
  margin-top: -100px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid rgb(161, 161, 161);
  padding: 0.5%;
}

.additemform h5{
  margin:1%;
}

.submitbtn{
  margin-bottom: 2%;
}